**Data type conversion** refers to the process of converting data from one type to another in programming. This is necessary when you want to perform operations or assignments where the data types differ.

Converting integer to float,string,complex and boolean

In [2]:
# Integer to Float
a = 10
a1 = float(a)
print(a1)

10.0

In [3]:
# Integer to string
b = 10
b1 = str(b)
print(b1)

10

In [4]:
# Integer to boolean
c = 10
c1 = bool(c)
print(c1)

True

In [5]:
# Integer to complex
d = 10
d1 = bool(d)
print(d1)

True

Converting float to integer,string,complex and boolean

In [6]:
# Float to Integer
num_float = 3.75
num_int = int(num_float)
print(num_int)

3

In [7]:
# Float to String
num_float = 3.75
str_num = str(num_float)
print(str_num)

3.75

In [8]:
# Float to Complex
num_float = 2.5
num_complex = complex(num_float)
print(num_complex)

(2.5+0j)

In [9]:
# Float to Boolean (Non-zero float is considered True)
num_float = 0.0
bool_value = bool(num_float)
print(bool_value)

num_float = 3.14
bool_value = bool(num_float)
print(bool_value)

False
True

**String to int,float,boolean and complex**

conversion of string to float,integer and complex are possible only when the given input is in numerical format.
conversion of string to boolean is possible

In [10]:
# String to Integer
str_num = "123"
num_int = int(str_num)
print(num_int)

123

In [11]:
# String to Float
str_num = "3.14"
num_float = float(str_num)
print(num_float)

3.14

In [12]:
# String to Complex
str_num = "2.5+3.7j"
num_complex = complex(str_num)
print(num_complex)

(2.5+3.7j)

In [13]:
# String to Boolean
true_str = "True"
bool_value_true = bool(true_str)
print(bool_value_true)

false_str = "False"
bool_value_false = bool(false_str)
print(bool_value_false)

# Non-empty strings are considered True
non_empty_str = "Hello"
bool_value_non_empty = bool(non_empty_str)
print(bool_value_non_empty)

# Empty string is considered False
empty_str = ""
bool_value_empty = bool(empty_str)
print(bool_value_empty)

True
True
True
False

**Conversion of  boolean to float,string,complex and integer is possible**

In [14]:
# Boolean to Float
bool_value = True
float_value = float(bool_value)
print(float_value)

bool_value = False
float_value = float(bool_value)
print(float_value)

1.0
0.0

In [15]:
# Boolean to String
bool_value = True
str_value = str(bool_value)
print(str_value)

bool_value = False
str_value = str(bool_value)
print(str_value)

True
False

In [16]:
# Boolean to Complex
bool_value = True
complex_value = complex(bool_value)
print(complex_value)

bool_value = False
complex_value = complex(bool_value)
print(complex_value)

(1+0j)
0j

In [17]:
# Boolean to Integer
bool_value = True
int_value = int(bool_value)
print(int_value)

bool_value = False
int_value = int(bool_value)
print(int_value)

1
0

**Conversion of float to boolean,string,complex and integer is possible**

In [18]:
# Float to Boolean
num_float = 0.0
bool_value = bool(num_float)
print(bool_value)

num_float = 3.14
bool_value = bool(num_float)
print(bool_value)

False
True

In [19]:
# Float to String
num_float = 3.14
str_value = str(num_float)
print(str_value)

3.14

In [20]:
# Float to Complex
num_float = 2.5
complex_value = complex(num_float)
print(complex_value)

(2.5+0j)

In [21]:
# Float to Integer
num_float = 3.75
int_value = int(num_float)
print(int_value)

3

**Converting complex to float,string,integer and boolean**

converting complex to string & boolean are possible.
converting complex to int & float are possible only with the help of real part

In [22]:
# Complex to Float (takes the real part)
num_complex = 2.5 + 3.7j
float_value = float(num_complex.real)
print(float_value)

2.5

In [23]:
# Complex to String
num_complex = 2.5 + 3.7j
str_value = str(num_complex)
print(str_value)

(2.5+3.7j)

In [24]:
# Complex to Integer (cannot directly convert complex to int, this example takes the real part)
num_complex = 2.5 + 3.7j
int_value = int(num_complex.real)
print(int_value)

2

In [25]:
# Complex to Boolean (True if either real or imaginary part is non-zero)
num_complex = 0 + 0j
bool_value = bool(num_complex.real or num_complex.imag)
print(bool_value)

num_complex = 2.5 + 3.7j
bool_value = bool(num_complex.real or num_complex.imag)
print(bool_value)

False
True

**Converting list to dictionary,tuple,set and array**

In [26]:
# List to Dictionary
my_list = [("a", 1), ("b", 2), ("c", 3)]
dict_from_list = dict(my_list)
print(dict_from_list)

{'a': 1, 'b': 2, 'c': 3}

In [27]:
# List to Tuple
my_list = [1, 2, 3]
tuple_from_list = tuple(my_list)
print(tuple_from_list)

(1, 2, 3)

In [28]:
# List to Set (removes duplicates if any)
my_list = [1, 2, 2, 3, 3, 3]
set_from_list = set(my_list)
print(set_from_list)

{1, 2, 3}

In [29]:
from array import array

# List to Array
my_list = [1, 2, 3]
array_from_list = array('i', my_list)  # 'i' specifies integer type
print(array_from_list)

array('i', [1, 2, 3])

**Converting dictionary to list,tuple,set and array**

In [30]:
# Dictionary to List (of keys, values, or items)
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Convert keys to list
keys_list = list(my_dict.keys())
print(keys_list)

# Convert values to list
values_list = list(my_dict.values())
print(values_list)

# Convert items (key-value pairs) to list
items_list = list(my_dict.items())
print(items_list)

['a', 'b', 'c']
[1, 2, 3]
[('a', 1), ('b', 2), ('c', 3)]

In [31]:
# Dictionary to Tuple (of keys, values, or items)
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Convert keys to tuple
keys_tuple = tuple(my_dict.keys())
print(keys_tuple)

# Convert values to tuple
values_tuple = tuple(my_dict.values())
print(values_tuple)

# Convert items (key-value pairs) to tuple
items_tuple = tuple(my_dict.items())
print(items_tuple)

('a', 'b', 'c')
(1, 2, 3)
(('a', 1), ('b', 2), ('c', 3))

In [32]:
# Dictionary to Set (of keys, values, or items)
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Convert keys to set
keys_set = set(my_dict.keys())
print(keys_set)

# Convert values to set
values_set = set(my_dict.values())
print(values_set)

# Convert items (key-value pairs) to set (items are converted to tuples first)
items_set = set(my_dict.items())
print(items_set)

{'c', 'a', 'b'}
{1, 2, 3}
{('a', 1), ('c', 3), ('b', 2)}

In [33]:
from array import array

# Dictionary to Array (of values)
my_dict = {'a': 1, 'b': 2, 'c': 3}

# Convert values to array (specify type code)
array_from_dict = array('i', my_dict.values())  # 'i' specifies integer type
print(array_from_dict)

array('i', [1, 2, 3])

**Converting tuple to list,dictionary,set and array**

In [34]:
# Tuple to List
my_tuple = (1, 2, 3)
list_from_tuple = list(my_tuple)
print(list_from_tuple)

[1, 2, 3]

In [35]:
# Tuple to Dictionary
my_tuple = (('a', 1), ('b', 2), ('c', 3))
dict_from_tuple = dict(my_tuple)
print(dict_from_tuple)

{'a': 1, 'b': 2, 'c': 3}

In [36]:
# Tuple to Set
my_tuple = (1, 2, 2, 3, 3, 3)
set_from_tuple = set(my_tuple)
print(set_from_tuple)

{1, 2, 3}

In [37]:
from array import array

# Tuple to Array
my_tuple = (1, 2, 3)
array_from_tuple = array('i', my_tuple)  # 'i' specifies integer type
print(array_from_tuple)

array('i', [1, 2, 3])

**Converting set to list,dictionary,tuple and array**

In [38]:
# Set to List
my_set = {1, 2, 3}
list_from_set = list(my_set)
print(list_from_set)

[1, 2, 3]

In [39]:
# Set to Dictionary
my_set = {('a', 1), ('b', 2), ('c', 3)}
dict_from_set = dict(my_set)
print(dict_from_set)

{'a': 1, 'c': 3, 'b': 2}

In [40]:
# Set to Tuple
my_set = {1, 2, 3}
tuple_from_set = tuple(my_set)
print(tuple_from_set)

(1, 2, 3)

In [41]:
from array import array

# Set to Array (converts to list first)
my_set = {1, 2, 3}
array_from_set = array('i', list(my_set))  # 'i' specifies integer type
print(array_from_set)

array('i', [1, 2, 3])

**Converting array to list,dictionary,tuple and set**

In [42]:
from array import array

# Array to List
my_array = array('i', [1, 2, 3])
list_from_array = list(my_array)
print(list_from_array)

[1, 2, 3]

In [48]:
from array import array

# Example array of integers
my_array = array('i', [1, 2, 3, 4])

# Convert array to list of tuples (for demonstration)
my_list_of_tuples = list(enumerate(my_array))

# Convert list of tuples to dictionary
dict_from_array = dict(my_list_of_tuples)
print(dict_from_array)

{0: 1, 1: 2, 2: 3, 3: 4}

In [44]:
from array import array

# Array to Tuple
my_array = array('i', [1, 2, 3])
tuple_from_array = tuple(my_array)
print(tuple_from_array)

(1, 2, 3)

In [45]:
from array import array

# Array to Set
my_array = array('i', [1, 2, 2, 3, 3, 3])
set_from_array = set(my_array)
print(set_from_array)

{1, 2, 3}