<a href="https://colab.research.google.com/github/150708/Python/blob/main/DATA_TYPES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Data Types*** :Data types are the classification or categorization of data items. Python supports the following built-in data types.

classified into four types:

                     1. Scalar Types
                     2. Sequence Type
                     3. Mapping Type
                     4. Set Types

***Scalar Types*** :

italicized text

**int**: Positive or negative whole numbers (without a fractional part) e.g. -10, 10, 456, 4654654.

**float**: Any real number with a floating-point representation in which a fractional component is denoted by a decimal symbol or scientific notation e.g. 1.23, 3.4556789e2.

**complex**: A number with a real and imaginary component.e.g.1+3j.whereas 1 is a real part and 3 is a imaginary part.

**bool**: Data with one of two built-in values True or False. Notice that 'T' and 'F' are capital. true and false are not valid booleans and Python will throw an error for them.

**None**: The None represents the null object in Python. A None is returned by functions that don't explicitly return a value.

**Sequence Type**

A sequence is an ordered collection of similar or different data types. Python has the following built-in sequence data types:

**String**: A string value is a collection of one or more characters put in single, double or triple quotes. e.g.["Python is a interpreted language"]

**List**: A list object is an ordered collection of one or more data items, not necessarily of the same type, put in square brackets.

**Tuple**: A Tuple object is an ordered collection of one or more data items, not necessarily of the same type, put in parentheses.

**Mapping Type**

**Dictionary**: A dictionary Dict() object is an unordered collection of data in a key:value pair form. A collection of such pairs is enclosed in curly brackets. For example: {1:"Steve", 2:"Bill", 3:"Ram", 4: "Farha"}

**Set Types**

**set**: Set is mutable, unordered collection of distinct hashable objects. The set is a Python implementation of the set in Mathematics. A set object has suitable methods to perform mathematical set operations like union, intersection, difference, etc.

In [ ]:
# Define integer variables
a = 5
b = 3

# Perform arithmetic operations
sum = a + b
sub = a - b
multiplication = a * b
division = a // b

# Print results
print("Addd:", sum)
print("Subtraction:", sub)
print("Multiplication:", multiplication)
print("Division:", division)

Addd: 8
Subtraction: 2
Multiplication: 15
Division: 1

In [ ]:
# Define float variables
a = 5.50
b = 3.77

# Perform arithmetic operations
sum = a + b
sub = a - b
multiplication = a * b
division = a // b

# Print results
print("Addd:", sum)
print("Subtraction:", sub)
print("Multiplication:", multiplication)
print("Division:", division)

Addd: 9.27
Subtraction: 1.73
Multiplication: 20.735
Division: 1.0

In [ ]:
# Define string variables
str1 = "data"
str2 = "science"

# Concatenate strings
combine_str = str1 + " " + str2

# Calculate length of the string
length_str = len(combine_str)

# Print results
print("Combine String:", combine_str)
print("Length of String:", length_str)

Combine String: data science
Length of String: 12

In [ ]:
# Define variables for comparison #boolean
a = 10
b = 20

# Perform comparisons
greater_than = a > b
less_than = a < b
equal_to = a == b
not_equal_to = a != b

# Print results
print("Is a greater than b?", greater_than)
print("Is a less than b?", less_than)
print("Is a equal to b?", equal_to)
print("Is a not equal to b?", not_equal_to)

Is a greater than b? False
Is a less than b? True
Is a equal to b? False
Is a not equal to b? True

In [ ]:
# Define complex variables
a1 = 5+3j
b1 = 3+7j

# Perform arithmetic operations
sum = a1 + b1
sub = a1 - b1
multiplication = a1 * b1
division = a1 / b1

# Print results
print("Addd:", sum)
print("Subtraction:", sub)
print("Multiplication:", multiplication)
print("Division:", division)

Addd: (8+10j)
Subtraction: (2-4j)
Multiplication: (-6+44j)
Division: (0.6206896551724138-0.4482758620689656j)

In [ ]:
# Define a complex number
c = 3 + 4j

# Get the real part
real_part = c.real

# Get the imaginary part
imaginary_part = c.imag


# Print results
print("Real Part:", real_part)
print("Imaginary Part:", imaginary_part)

Real Part: 3.0
Imaginary Part: 4.0